
<ion-view view-title="Page 1+">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">App Materialised</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top">
                <i class="icon ion-ionic"></i>
                Ionic + Material Design
            </h4>
            <p>In publishing and graphic design, lorem ipsum (derived from Latin dolorem ipsum, translated as "pain itself") is a filler <strong> used here</strong> <a href="https://en.wikipedia.org/wiki/Lorem_ipsum" target="_blank" class="link">as text filler</a> to show style, font, spacing and lay-out.</p>
            <p>This <a href="../demo/www/index.html"><strong>DEMO APP</strong></a> shows how things can be pieced together (notice: it does push the limits on Android).</p>
            <p>
                <em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
            </p>
            <h4 class="border-top"><i class="icon ion-android-color-palette"></i> More Color</h4>
            <p>Ionic Material builds on Ionic's color naming conventions, and provides 3 variations based off <a href="http://www.google.com/design/spec/style/color.html#" target="_blank" class="link">Google's color style guide</a> (900, 500, 100 - respectively). These can, of course, be overridden to fit your needs.</p>
            <div class="button-bar">
                <a class="button button-positive-900">-900</a>
                <a class="button button-positive">Positive</a>
                <a class="button button-positive-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-calm-900">-900</a>
                <a class="button button-calm">Calm</a>
                <a class="button button-calm-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-royal-900">-900</a>
                <a class="button button-royal">Royal</a>
                <a class="button button-royal-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-balanced-900">-900</a>
                <a class="button button-balanced">Balanced</a>
                <a class="button button-balanced-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-energized-900">-900</a>
                <a class="button button-energized">Energized</a>
                <a class="button button-energized-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-assertive-900">-900</a>
                <a class="button button-assertive">Assertive</a>
                <a class="button button-assertive-100">-100</a>
            </div>
            <div class="button-bar">
                <a class="button button-dark">Dark</a>
                <a class="button button-stable">Stable</a>
                <a class="button button-light">Light</a>
            </div>
            <br />
            <p>
                <strong>Add -900 (darker) or -100 (lighter) to Ionic's color classes to use the extended scheme colors</strong>
            </p>



        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
